---
openstack_version: "{{ openstack_version }}"
openstack_previous_version: "{{ openstack_previous_version }}"

kolla_ansible_version: "{{ '{{' }} openstack_version {{ '}}' }}"
kolla_image_version: "{{ '{{' }} openstack_version {{ '}}' }}"

openstack_release: "{{ '{{' }} openstack_version {{ '}}' }}"
openstack_previous_release_name: "{{ '{{' }} openstack_previous_version {{ '}}' }}"

openstackclient_version: "{{ openstackclient_version }}"

kolla_aodh_version: "{{ versions['aodh']|default(openstack_version) }}"
kolla_barbican_version: "{{ versions['barbican']|default(openstack_version) }}"
kolla_bifrost_version: "{{ versions['bifrost']|default(openstack_version) }}"
kolla_ceilometer_version: "{{ versions['ceilometer']|default(openstack_version) }}"
kolla_chrony_version: "{{ versions['chrony']|default(openstack_version) }}"
kolla_cinder_version: "{{ versions['cinder']|default(openstack_version) }}"
kolla_cloudkitty_version: "{{ versions['cloudkitty']|default(openstack_version) }}"
kolla_collectd_version: "{{ versions['collectd']|default(openstack_version) }}"
kolla_common_version: "{{ versions['kolla_toolbox']|default(openstack_version) }}"
kolla_cron_version: "{{ versions['cron']|default(openstack_version) }}"
kolla_designate_version: "{{ versions['designate']|default(openstack_version) }}"
kolla_dnsmasq_version: "{{ versions['dnsmasq']|default(openstack_version) }}"
kolla_elasticsearch_version: "{{ versions['elasticsearch']|default(openstack_version) }}"
kolla_etcd_version: "{{ versions['etcd']|default(openstack_version) }}"
kolla_fluentd_version: "{{ versions['fluentd']|default(openstack_version) }}"
kolla_glance_version: "{{ versions['glance']|default(openstack_version) }}"
kolla_gnocchi_version: "{{ versions['gnocchi']|default(openstack_version) }}"
kolla_grafana_version: "{{ versions['grafana']|default(openstack_version) }}"
kolla_haproxy_version: "{{ versions['haproxy']|default(openstack_version) }}"
kolla_heat_version: "{{ versions['heat']|default(openstack_version) }}"
kolla_horizon_version: "{{ versions['horizon']|default(openstack_version) }}"
kolla_influxdb_version: "{{ versions['influxdb']|default(openstack_version) }}"
kolla_ironic_version: "{{ versions['ironic']|default(openstack_version) }}"
kolla_ironic_inspector_version: "{{ versions['ironic_inspector']|default(openstack_version) }}"
kolla_iscsid_version: "{{ versions['iscsid']|default(openstack_version) }}"
kolla_kafka_version: "{{ versions['kafka']|default(openstack_version) }}"
kolla_keepalived_version: "{{ versions['keepalived']|default(openstack_version) }}"
kolla_keystone_version: "{{ versions['keystone']|default(openstack_version) }}"
kolla_kibana_version: "{{ versions['kibana']|default(openstack_version) }}"
kolla_kuryr_version: "{{ versions['kuryr']|default(openstack_version) }}"
kolla_logstash_version: "{{ versions['logstash']|default(openstack_version) }}"
kolla_magnum_version: "{{ versions['magnum']|default(openstack_version) }}"
kolla_manila_version: "{{ versions['manila']|default(openstack_version) }}"
kolla_mariadb_version: "{{ versions['mariadb']|default(openstack_version) }}"
kolla_memcached_version: "{{ versions['memcached']|default(openstack_version) }}"
kolla_mistral_version: "{{ versions['mistral']|default(openstack_version) }}"
kolla_monasca_version: "{{ versions['monasca']|default(openstack_version) }}"
kolla_multipathd_version: "{{ versions['multipathd']|default(openstack_version) }}"
kolla_neutron_version: "{{ versions['neutron']|default(openstack_version) }}"
kolla_nova_version: "{{ versions['nova']|default(openstack_version) }}"
kolla_octavia_version: "{{ versions['octavia']|default(openstack_version) }}"
kolla_openvswitch_version: "{{ versions['openvswitch']|default(openstack_version) }}"
kolla_ovn_version: "{{ versions['ovn']|default(openstack_version) }}"
kolla_placement_version: "{{ versions['placement']|default(openstack_version) }}"
kolla_prometheus_version: "{{ versions['prometheus']|default(openstack_version) }}"
kolla_rabbitmq_version: "{{ versions['rabbitmq']|default(openstack_version) }}"
kolla_redis_version: "{{ versions['redis']|default(openstack_version) }}"
kolla_senlin_version: "{{ versions['senlin']|default(openstack_version) }}"
kolla_skyline_version: "{{ versions['skyline']|default(openstack_version) }}"
kolla_storm_version: "{{ versions['storm']|default(openstack_version) }}"
kolla_swift_version: "{{ versions['swift']|default(openstack_version) }}"
kolla_tgtd_version: "{{ versions['tgtd']|default(openstack_version) }}"
kolla_trove_version: "{{ versions['trove']|default(openstack_version) }}"
kolla_zookeeper_version: "{{ versions['zookeeper']|default(openstack_version) }}"
kolla_zun_version: "{{ versions['zun']|default(openstack_version) }}"

kolla_elasticsearch_curator_version: "{{ versions['elasticsearch_curator']|default(openstack_version) }}"
kolla_nova_libvirt_version: "{{ versions['nova_libvirt']|default(openstack_version) }}"
kolla_prometheus_alertmanager_version: "{{ versions['prometheus_alertmanager']|default(openstack_version) }}"
kolla_prometheus_blackbox_exporter_version: "{{ versions['prometheus_blackbox_exporter']|default(openstack_version) }}"
kolla_prometheus_cadvisor_version: "{{ versions['prometheus_cadvisor']|default(openstack_version) }}"
kolla_prometheus_elasticsearch_exporter_version: "{{ versions['prometheus_elasticsearch_exporter']|default(openstack_version) }}"
kolla_prometheus_haproxy_exporter_version: "{{ versions['prometheus_haproxy_exporter']|default(openstack_version) }}"
kolla_prometheus_libvirt_exporter_version: "{{ versions['prometheus_libvirt_exporter']|default(openstack_version) }}"
kolla_prometheus_memcached_exporter_version: "{{ versions['prometheus_memcached_exporter']|default(openstack_version) }}"
kolla_prometheus_mysqld_exporter_version: "{{ versions['prometheus_mysqld_exporter']|default(openstack_version) }}"
kolla_prometheus_node_exporter_version: "{{ versions['prometheus_node_exporter']|default(openstack_version) }}"
kolla_prometheus_openstack_exporter_version: "{{ versions['prometheus_openstack_exporter']|default(openstack_version) }}"

