---
openstack_version: {{ openstack_version }}

kolla_ansible_version: {{ '{{' }} openstack_version {{ '}}' }}
kolla_image_version: {{ '{{' }} openstack_version {{ '}}' }}
openstack_release: {{ '{{' }} openstack_version {{ '}}' }}

