---
- name: Run preparations
  hosts: all

  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.apt:
        name:
          - python3-requests

  roles:
    - ensure-docker
