---
name: Check docker syntax

"on":
  push:
    paths:
      - Containerfile
      - .github/workflows/check-docker-syntax.yml
    branches:
      - main
  pull_request:
    paths:
      - Containerfile
      - .github/workflows/check-docker-syntax.yml

jobs:
  check-docker-syntax:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: brpaz/hadolint-action@v1.2.1
